* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #f7f7f7ba;
}

.container {
  background: linear-gradient(45deg, #1e1e21, #3d3e42);
  max-width: 400px;
  border-radius: 20px;
  margin: 100px auto;
  padding: 20px;
}

.main {
  height: calc(100vh - 100px);
  color: #f1f1f1;
  margin: 0 12px;
  .city {
    font-size: 42px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .main-weather {
    display: flex;
    align-items: center;
    justify-content: center;
    .icon {
      width: 60px;
      margin-right: 10px;
    }
    .temp {
      display: flex;
      .temp-value {
        font-size: 40px;
        font-weight: 700;
      }
      .temp-units {
        padding-left: 4px;
        font-size: 30px;
        color: #b9b9b9;
      }
    }
  }

  .weather-type {
    text-align: center;
    font-size: 18px;
  }

  .weather-details{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    .param {

      .name {
        margin-bottom: 10px;
        font-size: 14px;
        text-align: center;
      }

      .details {
        display: flex;
        justify-content: center;
        .value {
          margin-right: 4px;
          font-size: 24px;
          font-weight: 700;
        }
        .units {
          font-size: 18px;
          color: #b9b9b9;
        }
      }
    }
  }
}
